html{
    background-color: black;
}

h1{
    font-family: "Caveat", cursive;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    text-align: center;
    width: 100%;
}

div{
        width: 50%;
        margin-left: 25%;
}

p{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    font-family: "Dancing Script", cursive;
}